@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply opacity-60 hover:opacity-80;
  }
}

@layer components {
  .btn {
    @apply flex p-2 items-center justify-center rounded-md hover:opacity-80;
  }
  .icon {
    @apply w-5 h-5;
  }
}

#cursor-blob {
  width: 75vw;
  height: 75vw;
  background: linear-gradient(120deg, #a855f7, #f97316, #eab308);
  opacity: 0.2;
  filter: blur(100px);
  pointer-events: none;
  background-size: 1600% 1600%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(calc(-50%), -50%);
  z-index: 0;
  transition: 2s ease-out;
  animation: blobRadius 5s ease infinite, blobBackground 15s ease infinite;
}

@keyframes blobRadius {
  0%,
  100% {
    border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%;
  }
  20% {
    border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%;
  }
  40% {
    border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%;
  }
  60% {
    border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%;
  }
  80% {
    border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%;
  }
}

@keyframes blobBackground {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
